* {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #408f9d;
}
a:hover {
  color: darkturquoise;
}
ul {
  list-style-type: none;
}
ul li {
  cursor: pointer;
}
.wrapper {
  position: relative;
  max-width: 1300px;
  margin: auto;
  padding: 0 4px;
}
header {
  z-index: 3;
  position: fixed;
  width: 100%;
  /*border-bottom: 2px solid #408f9d;*/

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
#headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.headerBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-color: rgb(119, 135, 153);
}
header ul {
  margin: 10px;
  list-style-type: none;
}
header ul li {
  font-size: 17px;
  display: inline-block;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}
header ul li.active {
  font-weight: bolder;
  color: rgb(249, 255, 160);
}
header ul li:hover {
  color: rgb(249, 255, 160);
}
.TmtLogo {
  /*box-shadow: 0px 0px 10px black;*/
  background-color: rgb(255, 255, 255);
  /*border: 1px solid #408f9d;*/
  position: absolute;
  margin-left: 10px;
  /*margin-top: 10px;*/
  padding: 5px;
  width: 140px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
.content {
  padding: 10px 0;
  min-height: 60vh;
}
.jumbotron {
  background-image: url("./images/jumbotron2.jpg");
  background-size: cover;
  background-position: bottom;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 100vh;*/
}
.jumbotronText {
  margin-top: -140px;
  font-family: Times;
  font-size: 2.5rem;
  color: rgb(249, 255, 160);
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
footer {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  background-color: #408f9d;
  padding: 5px;
  min-height: 100px;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.defaultIcons1 {
  width: 25px;
}
.HomeDiv,
.AboutUsDiv,
.ProductsDiv,
.ServicesDiv {
  padding: 5px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AboutUsDiv,
.ProductsDiv,
.ServicesDiv {
  display: none;
  margin-left: -10px;
}
.AboutUsContent,
.ProductsContent,
.ServicesContent {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  padding: 5px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
  border-radius: 4px;
}
.IntroDiv {
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  min-height: 60vh;
  border-radius: 4px;
}
.FoundersDiv {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  width: 39%;
  min-height: 60vh;
  background-color: rgb(255, 255, 255);
  color: tomato;
  text-align: center;
  border-radius: 4px;
}
.FoundersDiv table {
  height: 200px;
  width: 100%;
  /*border-spacing: 5px;*/
}
.FoundersDiv table tbody tr #FounderPhoto1 {
  background-color: white;
  background-image: url("./images/TheodorePhoto.jpg");
  background-size: cover;
  background-position: top;
}
.FoundersDiv table tbody tr #FounderPhoto2 {
  background-color: white;
  background-color: white;
  background-image: url("./images/MohammedPhoto3.jpg");
  background-size: cover;
  background-position: center;
}
.MenuIcon {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 4;
}

#nav-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 50px;
  height: 4px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 100ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
#HamburgerMenu {
  display: none;
}
.MainMenu {
  margin: auto;
  position: fixed;
  z-index: 4;
  top: 40px;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: none;
}
.MainMenu table {
  margin: 10px;
}
.MainMenu table tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ServicesImage {
  width: 90%;
  margin: auto;
  opacity: 0.6;
}
.paymentsForm fieldset {
  color: #408f9d;
  border: 1px solid #408f9d;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(211, 243, 253);
  max-width: 700px;
  margin: auto;
}
.paymentsForm fieldset input {
  max-width: 500px;
  width: 95%;
  margin: 5px 0;
  border: 0;
  border-radius: 4px;
  padding: 5px;
}
input[type="checkbox"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 20px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6.5px;
  height: 6.5px;
  background-color: transparent;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}

input[type="checkbox"]:checked:after {
  left: 10px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.05);
}

input[type="radio"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input[type="radio"]:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}
.paymentsForm fieldset input[type="checkbox"] {
  width: 18px;
  margin: 4px;
}
.paymentsForm fieldset textarea {
  width: 95%;
  margin: 5px 0;
  border: 0;
  border-radius: 4px;
  padding: 5px;
  height: 130px;
}
.submitPaymentBtn {
  background-color: darkslateblue;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  margin: 5px;
}
.OrderNowBtn {
  font-size: 14px;
  background-color: #408f9d;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 400px;
}
.callUsNowBtn {
  background-color: deepskyblue;
  color: white;
  padding: 10px;
  padding-left: 3px;
  border-radius: 4px;
  border: 0;
  margin: auto;
  margin-bottom: 10px;
  max-width: 400px;
}
.callUsNowBtn:hover {
  color: white;
}
#introBackground {
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  border-radius: 10px;
}
#newsLetterForm {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}
#newsLetterForm #NLInputs {
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 7px;
}
#newsLetterForm input {
  border: none;
  height: 50px;
  text-align: center;
  font-size: 14px;
}
#newLetterSubmit {
  background-color: rgb(189, 90, 9) !important;
  margin: 3px;
  width: 100px !important;
  color: white;
  margin-left: -5px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
#newLetterEmailFld {
  background-color: white !important;
  margin: 3px;
  width: 200px;
  margin-right: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
@media only screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
    min-height: 390px;
    text-align: center;
  }
  #newsLetterForm {
    height: auto;
  }
  #introBackground {
    display: none;
  }
  .FoundersDiv table tbody tr td {
    width: 50%;
  }
  header {
    height: 40px;
  }
  .jumbotronText {
    margin-top: 0;
    font-size: 2rem;
  }
  .jumbotron {
    height: 400px;
  }
  .TmtLogo {
    /*border: 1px solid #408f9d;*/
  }
  .wrapper {
    width: 100%;
    padding: 0;
  }
  .headerBackground {
    background-color: white;
  }
  #HamburgerMenu {
    display: block;
  }
  .FoundersDiv {
    width: 99%;
    margin: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5px;
  }
  .HomeDiv {
    display: block;
  }
  .AboutUsDiv,
  .ProductsDiv,
  .ServicesDiv {
    margin: 0;
    display: none;
  }
  .AboutUsContent,
  .ProductsContent,
  .ServicesContent {
    box-shadow: 0px 0px 5px black;
    padding: 5px;
    background-color: white;
    width: 97%;
    margin: auto;
    text-align: justify;
    min-height: 60vh;
  }
  .IntroDiv {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    color: black;
    opacity: 1;
    width: 99%;
    margin: auto;
  }
  .RegularMenu {
    display: none;
  }
}
