* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 19px;
}
ul {
  list-style-type: none;
}
ul li {
  cursor: pointer;
}
.wrapper {
  position: relative;
  max-width: 1300px;
  margin: auto;
  padding: 0 4px;
}
header {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #408f9d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-color: rgb(119, 135, 153);
}
header ul {
  margin-top: 10px;
  list-style-type: none;
}
header ul li {
  font-size: 19px;
  display: inline-block;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}
header ul li.active {
  font-weight: bolder;
  color: rgb(249, 255, 160);
}
header ul li:hover {
  color: rgb(249, 255, 160);
}
.TmtLogo {
  background-color: white;
  border: 1px solid #408f9d;
  position: absolute;
  margin-left: 10px;
  padding: 5px;
  margin-top: 5px;
  width: 100px;
}
.content {
  padding: 10px 0;
  min-height: 60vh;
}
.jumbotron {
  background-image: url("./images/jumbotron2.jpg");
  background-size: cover;
  background-position: bottom;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 100vh;*/
}
footer {
  background-color: #408f9d;
  padding: 5px;
  min-height: 100px;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.defaultIcons1 {
  width: 25px;
}
.HomeDiv {
  padding: 5px;
  padding-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.IntroDiv {
  box-shadow: 0px 0px 10px black;
  color: white;
  padding: 5px;
  background-color: black;
  opacity: 0.7;
  width: 60%;
  text-align: justify;
  min-height: 60vh;
}
.FoundersDiv {
  box-shadow: 0px 0px 10px black;
  width: 38%;
  min-height: 60vh;
  background-color: rgb(179, 233, 235);
  color: darkolivegreen;
  text-align: center;
}
.FoundersDiv table {
  min-height: 300px;
  width: 100%;
  border-spacing: 10px;
}
.FoundersDiv table tbody tr #FounderPhoto1 {
  background-color: white;
}
.FoundersDiv table tbody tr #FounderPhoto2 {
  background-color: white;
}
